body {
	background: #add8df;
}
.mui-content {
	background: #add8df;
}
.list {
	margin: 0 auto;
	width: 62%;
	margin-top: 2rem;
	background: #e4e4e4;
	border-radius: 6px;
	box-shadow: 0 3px 5px #bbb;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
.list:active {
	-webkit-transform: translateY(-6px);
	transform: translateY(-6px);
}
.list img {
	border-radius: 6px;
	width: 100%;
}